{%extends 'base.html'%}

{%block head%}
<style>
    .experience {
        background: #ffffff;
        color: #f5f5f5;
    }
    input, textarea, select{
        /*background: #044d39;*/
        margin:5px 5px;
    }
    form{
        /*margin: 0 auto;*/
        width:80%;
        color: #000000;
    }
    h5,h7{
        margin-left:5px ;
        display: inline-block;
    }
    .btn{
        float: right;
        width:250px;
        margin-top:-40px;
    }
    .btn1{
        border:1px solid #CFCFCF;
        background: #CFCFCF;
        width:90px;
        height: 35px;
        border-radius: 5px;
        text-align: center;
        line-height: 30px;

    }

    a{
        width:100%;
        height: 100%;
        text-align: center;
        line-height: 35px;
        font-size: 18px;
        color: #000000;
    }

</style>

<script>

    $(function () {
            var tynum = $('.tpnum').val();
            $('.s'+tynum).prop('selected',true);

            $('.edt').click(function () {  //提交事件可以用submit()
            var title = $('.title').val();
            var summray = $('.summray').val();
            var content = $('.content').val();
            var val = $('#ct').val();
            var category = $('.s'+val).text();
            var keywords = $('.keywords').val();
            var id = $('.idval').val();
            if(title && summray && content && category && keywords){
                if(confirm('确认修改么？')) {
                    $.get('/myblog/edit/', {
                        "id": id,
                        "title": title,
                        "summray": summray,
                        "content": content,
                        "category": category,
                        "keywords": keywords
                    }, function (data) {
                        if (data.ok == 1) {
                            alert('修改成功！');
                            location.href = '/myblog/';
                        }

                    });
                }
            }else {
                alert('所属入内容不能为空，请重新输入！');
                return false;

            }

        });

        $('.cancel').click(function () {
            location.href = '/myblog/';
        });

        });

    </script>
{%endblock head%}

{%block body%}
<section class="container">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="experience">
                <form action="/myblog/" method="post">
                    {%csrf_token%}
                    <div class="experience-content">
                        <h5>Title</h5><br>
                        <input type="text" name="title" class="title" value="{{obj.title}}"  placeholder="标题"><br>
                        <h5>Summary</h5><br>
                        <input type="text" name="summary" class="summray" value="{{obj.summray}}" placeholder="概要"><br>
                        <h5>Content</h5><br>
                        <textarea name="content"  class="content" cols="100" rows="10" placeholder="请输入内容">{{obj.content}}</textarea><br>
                        <h7>Type</h7>
                        <input type="hidden" class="tpnum" value="{{obj.category_num}}">
                        <select name="category" id="ct">
                            <option class="s0" value="0">Study</option>
                            <option class="s1" value="1">Life</option>
                            <option class="s2" value="2">Work</option>
                            <option class="s3" value="3">Tourism</option>
                            <option class="s4" value="4">Emotion</option>
                            <option class="s5" value="5">Other</option>
                        </select>
                        <br>
                        <h7>Keywords</h7>
                        <input type="text" name="keywords" value="{{obj.keywords}}" class="keywords" placeholder="请输入关键词"><br>
                        <input type="hidden" class="idval" value="{{obj.id}}">
                        <div class="btn">
                            <h7 class="btn1 cancel"><a href="/myblog/">取消</a></h7>
                            <h7 class="btn1 edt"><a href="javascript:;" class="et">确定</a></h7>
                        </div>

                    </div>
                </form>

			</div>
		</div>
	</div>
</section>
{%endblock body%}

