{%extends 'base.html'%}
<!-- contact and experience -->

{%block body%}
<section class="container">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="experience">
				<form method='get' action="/search/" target="_blank" class="sou">
		 　　     	<input type="text" class="search" name="q" value="" placeholder="查找"><input type="submit" class="sear" value="搜索">
			 	</form>
				{% for content in content_list%}
				 <div id="dele{{single.id}}">

					<div class="experience-content">
						<h6 class="white">{{content.title}}</h6>
						<!--<h7 class="experience-title accent">{{content.summray}}</h7>-->
						<p class="education-description">{{content.content}}</p>
						<!--<h5>{{content.category}}</h5><span></span>-->
						<!--<h5>{{content.keywords}}</h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
						<!--<b><a href="javascript:del({{content.id}});">删除</a></b>-->
						<!--<b><a href="javascript:edit({{content.id}});">修改</a></b>-->
					</div>
				 {%endfor%}
				</div>
			</div>
		</div>
	</div>
</section>
{%endblock body%}
